<!DOCTYPE html>
<html lang=en>
<head>

	<script>

	</script>

	<!-- <title>Welcome to my blog</title> -->
	<link rel="stylesheet" href="/src/style.css">
	<!-- <link rel="stylesheet" href="../src/style.css"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<header>
	<br>
	<nav class="menu">
		<div class="nav-left">
			<ul>
				<li>
					<a href="/"><img class="logo" style="border-radius: 50%;height:40px; width:40px;" src="/favicon.png" alt=""><span class="sitename" style="font-size: larger;font-weight: bolder;">Chong</span></a>
				</li>
			</ul>
		</div>
		<div class="nav-right">
		    <ul>
				<li><a href="/misc/cv.html" >CV</a></li>
				<li><a href="/misc/project.html">Projects</a></li>
				<li><a href="/misc/impressum.html">Impressum</a></li>
				<li><a href="/blogindex.html">Blog</a></li>
				<li><a href="/misc/now.html" >Now</a></li>
			</ul>
		</div>
	</nav>
	<br><hr><br>
</header>
<h1 id="colemak">Colemak</h1>

<p>November,7 2022</p>

<p>How did I learn this?</p>

<p>I first discovered this Colemak at Reddit and YouTube. They talked about how the changing to &#8220;default&#8221; layout will help you in terms of the RSI thing. </p>

<p>It took many months for me to start learn this new layout and finally went full cold turkey mode and first learn about the accuracy. Start slow and slowly build up the speed. </p>

<p>I have learned colemak vanilla and learn the colemak DH mod. </p>

<p>The useful links are:</p>

<ul>
<li><a href="https://monkeytype.com">monkeytype.com</a></li>
<li><a href="https://keybr.com">keybr.com</a></li>
</ul>

<h3 id="practice-routine">Practice routine</h3>

<p>30 minutes of typing at those mentioned websites. </p>

<h3 id="things-i-do-like-about-it">Things I do like about it</h3>

<ul>
<li>Most used keys are right at the home row</li>
<li>Make feels good to type with this layout</li>
<li>Typing words feel like playing chord</li>
<li>Wrist are generally stayed at the same place too</li>
</ul>

<h3 id="things-i-dont-like-about-it">Things I don&#8217;t like about it</h3>

<ul>
<li>vowels keys are at the right hand</li>
<li>typing this with a staggared layout</li>
<li>most of the game don&#8217;t registered with this layout</li>
</ul>
<br>
<hr>

<footer>
	<nav class="menu">
	<div class="nav-left">
		subscribe via <a href="/feed.xml">RSS</a>
		<p>2021-2023 PeterDigger</p>
		<p>Created with a slight modified <a href="/files/geni">ssg</a> by <a href="https://www.romanzolotarev.com/ssg.html">Roman Zolotarev</a></p>
	</div>
	<div class="nav-right">
		<a href="https://twitter.com/GmaChongherng99" target="_blank"><i class="fa fa-twitter" style="font-size:32px"></i></a>
		<a href="https://github.com/peterdigger" target="_blank"><i class="fa fa-github" style="font-size:32px"></i></a>
		<a href="https://www.linkedin.com/in/cpherng99/" target="_blank"><i class="fa fa-linkedin" style="font-size:32px"></i></a>
	</div>
	</nav>
</footer>

<script src="/src/script.js"></script>

</html>
